{% macro categoryClass(category, current) %}
    {% if category == current %}disabled{% endif %}
{% endmacro %}

{% macro typeClass(type, current) %}
    {% if type == current %}disabled{% endif %}
{% endmacro %}

{% import _self as help %}

{% if galleries %}
    <div id="gallery">

    <form class="row"
          method="GET"
          action="{{ path('frontend', {'uri': 'galeries'}) }}">
        <input 
            type="hidden" 
            id="category_input" 
            name="c" 
            value="{{ selected_category }}" />
        <input 
            type="hidden" 
            id="type_input" 
            name="t" 
            value="{{ selected_type }}" />
        <div class="span6 categories">
            <strong>Catégories : </strong> <br/>
            <button
                class="btn btn-small {{ help.categoryClass('*', selected_category) }}"
                data-category="*" >
                Toutes
            </button>
            {% for category in galleries %}
                <button 
                    class="btn btn-small {{ help.categoryClass(category.title, selected_category) }}"
                    data-category="{{ category.title }}">
                 {{ category.title }}
                </button> 
            {% endfor %}
        </div>
        <div class="span3 types">
            <strong>Type de médias : </strong> <br />
            <button
                class="btn btn-small {{ help.typeClass('*', selected_type) }}"
                data-type="*">
                Tous
            </button>
            {% for type in ['video', 'image'] %}
                <button
                    class="btn btn-small {{ help.typeClass(type, selected_type) }}"
                    data-type="{{ type }}">
                    {{ type }}
                </button>
            {% endfor %}
        </div>
    </form>
    <hr/>
    {% for resource in images_videos %}
        {% if ( loop.index0 % 3 ) == 0 or loop.index == 1 %}
            <div class="row">
        {% endif %}
       
        <div class="span3 thumb">
            <img src="{{ asset(resource.assetThumbPath) }}" 
                alt="{{ resource.alt }}" 
                class="img-thumb"
                data-category="{{ resource.category.title }}"
                data-type="{{ resource.type }}"
                data-index="{{ loop.index }}"
                data-content="{{ resource.content }}"
                data-src="{{ asset(resource.assetPath) }}"/>
        </div>

        {% if loop.index % 3 == 0 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}

    </div>
{% else %}
    <div class="alert alert-warning">
        <p>Aucun médias n'éxiste actuellement</p>
    </div>
{% endif %}
