<h2>{{title}}</h2>
<hr/>

{% if permissions and permissions.create %}
<p>
	<a href="{{ path(routes.create) }}" class="btn btn-primary">Rajouter</a>
</p>
{% endif %}

{% if heads %}

    {{knp_pagination_render(datas)}}

	<table class="table table-hover table-bordered">

		<thead>
			<tr>
			{% for head in heads %}
				<th>{{head}}</th>
			{% endfor %}
				<th>Actions</th>
			</tr>
		</thead>	

		<tbody>
			{% for data in datas %}
				<tr>
					{% for value in data.listFields %}
						<td>{{value}}</td>
					{% endfor %}
						<td>
                            {% if permissions.edit %}
							    <a href="{{ path(routes.edit, {'id' : data.id}) }}" class="btn btn-mini">éditer</a>
                            {% endif %}

                            {% if permissions.delete %}
                                <form method="POST" action="{{ path(routes.delete, {'id' : data.id}) }}" 
                                    onsubmit="return confirm('Êtes vous sur ?')">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <input type="submit" class="btn btn-mini btn-danger" value="supprimer" />
                                </form>
                            {% endif %}
						</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    {{knp_pagination_render(datas)}}
{% else %}
	<div class="alert alert-info">
		<h1>Aucune données pour le moment :(</h1>
		<p>
			Apparement vous n'avez pas encore créé de données. Peut-être devriez vous commencer
			par cliqué sur le bouton "Rajouter" pour créé une nouvelle entrée.
		</p>
	</div>
{% endif %}
