<div class="side-block" id="actus-block">
    <ul>
    {% for actu in news %}
        <li>
            <strong>
                <a href="{{ path('app_news_show', {'uri': actu.uri}) }}"
                   title="{{ actu.description }}">
                {{ actu.title }}
                </a>
            </strong> 
        </li>
    {% endfor %}
    </ul>
    <a class="more" href="{{ path('frontend', {'uri': 'actualites'}) }}"></a>
</div>

<hr/>

<div class="side-block" id="actions-block">
    <ul>
    {% for action in actions %}
        <li>
            <strong>
               <a href="{{ path('app_action_show', {'uri': action.uri}) }}"
                  title="{{ action.description }}"
               >
                    {{ action.title }}
               </a>
            </strong>
        </li>
    {% endfor %}
    </ul>
    <a class="more" href="{{ path('frontend', {'uri': 'actions'}) }}"></a>
</div>
