<ul class="visible-desktop">

    <li><a href="{{path('frontend', {'uri':''})}}" class="menu-item menu-accueil"></a></li>

    <li><a href="{{path('frontend', {'uri':'charte'})}}" class="menu-item menu-charte"></a></li>

    <li><a href="{{path('frontend', {'uri':'actions'})}}" class="menu-item menu-actions"></a></li>

    <li><a href="{{path('frontend', {'uri':'actualites'})}}" class="menu-item menu-actus"></a></li>

    <li><a href="{{path('frontend', {'uri':'galeries'})}}" class="menu-item menu-gallerie"></a></li>

    <li><a href="{{path('frontend', {'uri':'adherents'})}}" class="menu-item menu-adherents"></a></li>

    <li><a href="{{path('frontend', {'uri':'contact'})}}" class="menu-item menu-contact"></a></li>

</ul>

<select class="hidden-desktop" id="responsive-menu">

	{% for uri, name in {
		''           : 'Accueil',
		'charte'     : 'Charte',
		'actions'    : 'Actions',
		'actualites' : 'Actualités',
		'galeris'    : 'Galeries',
		'adherents'  : 'Adhérents',
		'contact'    : 'Contact'
	} %}
		<option value="{{url('frontend', {'uri': uri})}}" {% if "/"~uri == page.uri %}selected{% endif %}>{{name}}</option>

	{% endfor %}

</select>
